section.banner
	.banner__bg
		.banner__bg-image
			img(src="/img/banner-bg.jpg" alt="").object-fit
	.container
		.banner__inner.flex.flex_vertical.flex_justify
			.banner__content.content
				h4.color-green Консультация юриста
					| <br> в течение 15 минут
				p Задайте вопрос прямо сейчас, и его увидят сотни профессионалов со всей России.
			.banner__cell
				a(href="tel:+74954077755").btn.btn_green.banner__cell-btn Позвонить
				span.banner__cell-text или
				a(href="tel:+74954077755").btn.btn_green.banner__cell-btn Написать