.info
	.container
		.info__items.flex
			.info__item.flex.flex_start
				+icon('clock')
				.info__item-cell
					span.info__subtitle Скорость выполнения
					p.info__text Через 10-15 минут вы получите первый экспертный  ответ
			.info__item.flex.flex_start
				+icon('employee')
				.info__item-cell
					span.info__subtitle Выбор исполнителей
					p.info__text В нашей компании работают <br> более 1500 исполнителей
			.info__item.flex.flex_start
				+icon('dollar')
				.info__item-cell
					span.info__subtitle Доступная стоимость
					p.info__text Вы можете задать вопрос как на платной основе, так и бесплатно.