section.map
	.container
		.map__wrap
			.map__bg
				img(src="/img/map.png" alt="Работаем по всей стране").object-fit.map__bg-image
			.map__inner
				.section-top.section-top_gray.content.map__top
					h2.section-top__title.color-green Работаем по всей стране
					p.section-top__text Мы консультируем наших клиентов и решаем различные юридичесике вопросы по всем регионам России
				.statistics
					.statistics__items.flex.flex_justify
						.statistics__item
							span.statistics__count(data-number="1500") 0
							h3.h3.statistics__subtitle консультирующих юристов
						.statistics__item
							span.statistics__count(data-number="5100") 0
							h3.h3.statistics__subtitle решенных вопросов
						.statistics__item
							span.statistics__count(data-number="1200") 0
							h3.h3.statistics__subtitle проведенных консультаций
						.statistics__item
							span.statistics__count(data-number="1300") 0
							h3.h3.statistics__subtitle заказанных документов
					a(href="#").btn.btn_radius.btn_medium.btn_green.statistics__btn Перейти к услугам