section.reviews
	.container.container_medium
		.section-top.section-top_gray.content
			h2.section-top__title.color-green Отзывы наших клиентов
			p.section-top__text Неважно, как мы оцениваем качество — важно, как его оцениваете вы, наши дорогие клиенты. Наша работа — превратить ваши жалобы в благодарность нам и нашей компании. Вы должны быть настолько довольны, чтобы рекомендовать нас своим друзьям и знакомым.
		.reviews__wrap
			.reviews__slider.js-slider(data-settings="{" +
				"\"items\": 3, " +
				"\"margin\": 45, " +
				"\"loop\": true, " +
				"\"dots\": false, " +
				"\"nav\": true, " +
				"\"center\": true," +
				"\"responsive\": { \"0\": {\"items\": 1, \"stagePadding\": 40, \"margin\": 30 }, \"421\": {\"items\": 1, \"margin\": 15, \"stagePadding\": 50, \"nav\": false }, \"581\": {\"items\": 2, \"margin\": 20, \"stagePadding\": 25 }, \"1581\": {\"margin\": 45} } " +
			"}"
			)
				.reviews__slide
					p.reviews__text Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым. Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым.
					span.reviews__name Александр, Москва
					+icon('quote')
				.reviews__slide
					p.reviews__text Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым. Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым.
					span.reviews__name Александр, Москва
					+icon('quote')
				.reviews__slide
					p.reviews__text Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым. Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым.
					span.reviews__name Александр, Москва
					+icon('quote')
				.reviews__slide
					p.reviews__text Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым. Спасибо, Вы очень помогли, и не взяли ни копейки! Обязательно буду рекомендовать вас своим знакомым.
					span.reviews__name Александр, Москва
					+icon('quote')