section.services
	.container
		.section-top.section-top_gray.content
			h2.section-top__title ЮРИДИЧЕСКИЕ УСЛУГИ
			p.section-top__text Мы помогаем людям и бизнесу с решением их юридических проблем в разных направлениях – семейное право, вопросы ГИБДД,  получение льгот и компенсаций, а <a href="#">также другие направления!</a>
		.services__slider.js-wrapSlider(data-resolution="580" data-settings="{\"items\": 1, \"margin\": 30, \"loop\": true, \"dots\": true}")
			.services__slide.flex.flex_column.flex_start
				h4.services__slide-title.h4.color-green Задать вопрос онлайн
				p.services__text Задайте свой вопрос, опишите проблему и вы получите квалифицированный ответ в считанные минуты.
				a(href="#").btn.btn_border-green.btn_radius.btn_small.services__slide-btn Заказать вопрос
			.services__slide.flex.flex_column.flex_start
				h4.services__slide-title.h4.color-green Общение с юристом в чате
				p.services__text Переписывайтесь с юристом в режиме онлайн в удобном и функциональном чате.
				a(href="#").btn.btn_border-green.btn_radius.btn_small.services__slide-btn Заказать вопрос
			.services__slide.flex.flex_column.flex_start
				h4.services__slide-title.h4.color-green Консультации по телефону
				p.services__text Оставляйте заявку на консультацию по телефону и общайтесь с юристом в удобное вам время.
				a(href="#").btn.btn_border-green.btn_radius.btn_small.services__slide-btn Заказать консультацию
			.services__slide.flex.flex_column.flex_start
				h4.services__slide-title.h4.color-green Оформление документов
				p.services__text Закажите любой юридический документ: претензию потребителя, документы в суд, жалобы на чиновников и т.д.
				a(href="#").btn.btn_border-green.btn_radius.btn_small.services__slide-btn Заказать документ