extends ../layouts/base

append vars
	- title = 'About';

block content
	include ../modules/intro
	include ../modules/info
	include ../modules/services
	include ../modules/tariffs
	include ../modules/map
	include ../modules/advice
	include ../modules/reviews
	include ../modules/registration
	include ../modules/banner