footer.footer
	.container
		.footer__logo
			a(href="#").footer__logo-link
				img(src="/img/logo.png" alt="Логотип Pravio" width="177" height="").footer__logo-image
		.footer__row.flex
			.footer__col
				h4.footer__title О проекте
				ul.footer__items
					li.footer__item
						a(href="#").footer__link Команда
					li.footer__item
						a(href="#").footer__link Контакты
					li.footer__item
						a(href="#").footer__link FAQ
					li.footer__item
						a(href="#").footer__link Работа юристу
			.footer__col
				h4.footer__title Услуги
				ul.footer__items
					li.footer__item
						a(href="#").footer__link Вопросы
					li.footer__item
						a(href="#").footer__link - Платные
					li.footer__item
						a(href="#").footer__link - Бесплатные
					li.footer__item
						a(href="#").footer__link Подготовить документ
					li.footer__item
						a(href="#").footer__link Консультация по тел
					li.footer__item
						a(href="#").footer__link Круглосуточная консультация юриста
					li.footer__item
						a(href="#").footer__link Консультация по юридическим вопросам
					li.footer__item
						a(href="#").footer__link Юридическая помощь
					li.footer__item
						a(href="#").footer__link Юридические услуги
			.footer__col
				h4.footer__title Юристы
				ul.footer__items
					li.footer__item
						a(href="#").footer__link Все юристы
					li.footer__item
						a(href="#").footer__link - Юристы Краснодара
					li.footer__item
						a(href="#").footer__link - Юристы Нижнего
					li.footer__item
						a(href="#").footer__link Новгорода
					li.footer__item
						a(href="#").footer__link - Юристы Омска
					li.footer__item
						a(href="#").footer__link - Юристы Самары
					li.footer__item
						a(href="#").footer__link - Юристы Санкт-Петербурга
			.footer__col
				h4.footer__title Адреса организаций
				ul.footer__items
					li.footer__item
						a(href="#").footer__link Все организации
					li.footer__item
						a(href="#").footer__link - МФЦ
					li.footer__item
						a(href="#").footer__link - Нотариусы
					li.footer__item
						a(href="#").footer__link - Суды
					li.footer__item
						a(href="#").footer__link - База приставов России
					li.footer__item
						a(href="#").footer__link Публикации
					li.footer__item
						a(href="#").footer__link Образцы документов
					li.footer__item
						a(href="#").footer__link Полезные инструменты
					li.footer__item
						a(href="#").footer__link Кодексы и законы РФ
			.footer__info
				.footer__cell
					h4.footer__title Бесплатная горячая линия
					a(href="tel:+74954077755").footer__phone
						+icon('phone')
						span.footer__phone-text
							| +7 (495) 40-777-55
				.footer__cell
					h4.footer__title Главный офис
					a(href="#").footer__address
						+icon('pin')
						span.footer__address-text
							strong г. Москва,
							| Каширский пр-д.,
							| д. 21, ком. 2, пом. 1
				.socials
					a(href="https://www.facebook.com/").socials__link
						+icon('fb')
					a(href="https://vk.com/").socials__link
						+icon('vk')
					a(href="https://telegram.org").socials__link
						+icon('te')
					a(href="https://web.whatsapp.com/").socials__link
						+icon('wh')
	.footer__copyright
		.container
			span.footer__copyright-text Prav.io © 2021 Все права защищены