.icon-arrow {
  fill: none;
  stroke: var(--color-white);
  width: 1rem;
  height: .7rem;
}
.icon-phone {
  width: 1.9rem;
  height: 1.9rem;
}
.icon-clock {
  width: 2.8rem;
  height: 2.8rem;
}
.icon-employee {
  width: 2.8rem;
  height: 2.8rem;
}
.icon-dollar {
  width: 2.8rem;
  height: 2.8rem;
}
.icon-arrowLeft,
.icon-arrowRight{
  width: 2.2rem;
  height: 2.2rem;
}
.icon-pin {
  width: 2.7rem;
  height: 2.7rem;
}